.toast {
    display: flex;
    align-items: center;
    padding: 12px 15px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    min-width: 250px;
    max-width: 350px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;

    transform: translateY(100%);
    opacity: 0;
}

.visible {
    opacity: 1;
    transform: translateY(0);
}

.success {
    background-color: #4caf50;
}

.error {
    background-color: #f44336;
}

.warning {
    background-color: #ff9800;
}

.info {
    background-color: #2196f3;
}

.icon {
    margin-right: 10px;
}

.svg {
    fill:#fff
}

.message {
    flex-grow: 1;
    font-size: 16px;
}

.closeButton {
    background: none;
    border: none;
    color: inherit;
    font-size: 18px;
    margin-left: 15px;
    cursor: pointer;
    padding: 0;
    line-height: 1;
    opacity: 0.8;
    transition: opacity 0.2s;
}

.closeButton:hover {
    opacity: 1;
}